.video-container {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.main-video {
    width: 100%;
    height: 80%;
    z-index: 0;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

h1 {
    position: fixed;
    top: 1rem;
    left: 1rem;
    margin: 0px;
    color: white;
    z-index: 10;
}

.navigation {
    position: fixed;
    z-index: 10;
    bottom: 1rem;
    left: 1rem;
}

a {
    color: white;
}

.list-unstyled {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}